*.out
*-venv/
*.env*
**/__pycache__/

# decision tree
decision-tree/decision-tree
decision-tree/seals_*
decision-tree/target/*

# digit classifier
digit-classifier/digit-classifier
digit-classifier/dataset/*
digit-classifier/parameters/*

# image triangulator
*.jpg
*.jpeg
