*.out
*-venv/
*.env*

# decision tree
decision-tree/decision-tree
decision-tree/seals_*

# digit classifier
digit-classifier/digit-classifier
digit-classifier/dataset/*
digit-classifier/parameters/*

# image triangulator
*.jpg
*.jpeg